# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Firebase credentials
serviceAccountKey.json

# Firebase logs
firebase-debug.log
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db